<div id="main-content" class="container">
  <h2 class="text-center">Sign Up</h2>
  <div class="col-md-4 col-md-offset-4">
    <form name='suForm' novalidate>
      <div class="form-group">
        <label>First Name</label>
        <input type="text"
               class="form-control"
               name="firstname"
               ng-model="suCtrl.user.firstname"
               required
               minlength="2">
         <span class="form-text text-muted"
           ng-if="(suForm.firstname.$error.minlength || suForm.firstname.$error.required) && suForm.firstname.$touched">
           Firstname must be at least 2 characters long
         </span>
      </div>
      <div class="form-group">
        <label>Last Name</label>
        <input type="text"
               class="form-control"
               name="lastname"
               ng-model="suCtrl.user.lastname"
               required
               minlength="2">
         <span class="form-text text-muted"
           ng-if="(suForm.lastname.$error.minlength || suForm.lastname.$error.required) && suForm.lastname.$touched">
           Lastname must be at least 2 characters long
         </span>
      </div>
      <div class="form-group">
        <label>Email Address</label>
        <input type="email"
               class="form-control"
               name="email"
               ng-model="suCtrl.user.email"
               required>
        <span class="form-text text-muted"
           ng-if="suForm.email.$invalid && suForm.email.$touched">
           Must be a valid email address: handle@domain
        </span>
      </div>
      <div class="form-group">
        <label>Phone Number</label>
        <input type="text"
               class="form-control"
               name="phonenumber"
               ng-model="suCtrl.user.phonenumber"
               pattern="(\d{3})-(\d{3})-(\d{4})">
        <span class="form-text text-muted"
              ng-if="suForm.phonenumber.$invalid && suForm.phonenumber.$touched">
         Phone must be in the format ###-###-####.
        </span>
      </div>
      <div class="form-group">
        <label>Favorite Menu Item Shortname</label>
        <input type="text"
               class="form-control"
               name="menuitem"
               ng-model="suCtrl.user.menuitem"
               required
               min-length="2">
        <span class="form-text text-muted"
              ng-if="suCtrl.menuError">
              {{ suCtrl.menuError}}
            </span>
      </div>
      <button type="submit" class="btn btn-primary"
              ng-disabled="suForm.$invalid"
              ng-if="suCtrl.showForm !== false"
              ng-click="suCtrl.submit()">Submit</button>
    </form>
    <div ng-if="suCtrl.showForm === false">
      Your information has been saved.
    </div>
  </div>
</div>
